body{
    font-family: 'Roboto', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1633158829875-e5316a358c6f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    min-height:95vh; 
    display:flex; 
    flex-direction:column; 
    flex-grow: calc();
    margin: 0 0;
    position: relative;
    color: #2d634f;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    z-index: -1;
}

.mainText{
    position: fixed;
    flex-direction: column;
    left:200px;
    width: 90%;
    margin-left: 2em;
    margin-right: 2em;
    flex-wrap: wrap;
}



header{
    background-color: #3f876c;
    flex-grow: calc();
    padding: 1rem;
    width: 100%;
    position: flex;
    z-index: 1;
}
main{
    flex-direction: row;
    top: 3.2em;
    width: 100%;
}
.mainNavConteiner{
    display: flex;

}

header nav div{
    display: inline;
}

header a{
    background-color: #2d634f;
}
header a:hover{
    background-color: #255040;
}

main div nav{
    background-color: #6fa474;
    position: fixed;
    top: 3.2em;
    left:0%;
    bottom: 0%;
    width: 200px;
    z-index:1;
}

.settingsAndLogOutDiv{
    position: fixed;
    right: 1.5rem;
}

.mainNavButton{
    background-color: #558059;
    height: 1em;
    width: auto;
    margin: 10px;
    padding: 1.5rem;
    display: block;
}

.mainNavButton:hover{
    background-color: #3e6142;
}


h1{
    text-align:center;
    font-size: 3.4em;
    color: #2d634f;
}

a{
    text-decoration: none;
    padding: 0.5em;
    color: #f9f9f4;
    border-radius: 10px;
}